//variables
$color-cian: #02aeae;

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background: #fff;
  font-family: 'Roboto', sans-serif;
  color: #333;
}

.container {
  max-width: 1370px;
  width: 100%;
  box-sizing: border-box;
}

.color_cian {
  color: $color-cian;
}

.font_bold {
  font-weight: bold;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9;
  border-bottom: 2px solid $color-cian;

  .logo-wrapper {
    .logo {
      width: 100%;
      height: 40px;
      display: block;
      object-fit: contain;

    }
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;
    height: 100%;

    &.nav-menu {
      li {
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;

        &:not(:first-child) {
          margin-left: 25px;
        }

        a {

          text-decoration: none;
          color: inherit;

          &:hover {
            text-decoration: none;
            color: #02aeae;
          }
        }
      }
    }

  }
}

section {
  &.hero-block {
    background: url("../img/hero_1.jpg") no-repeat;
    background-size: cover;
    background-position: top;

    .text-block {
      display: flex;
      flex-direction: column;
      margin-left: auto;
      padding: 160px 15px;
      text-align: right;

      &__heading {
        font-size: 40px;
        line-height: 1.2;
        letter-spacing: 0;
        font-style: normal;
        font-weight: 300;
        margin-bottom: 35px;
      }

      &__sub-heading__small {
        font-weight: 300;
        font-style: normal;
        font-family: 'Roboto', sans-serif;
        color: #222222;
        font-size: 18px;
        line-height: 1.6;
        letter-spacing: 0px;
        margin-bottom: 35px;
      }

      &__button {
        font-weight: 700;
        font-style: normal;
        color: #ffffff;
        background-color: #02aeae;
        padding: 10px 70px;
        font-size: 14px;
        border: none;
        position: relative;
        text-align: center;
        z-index: 1;
        transition: .3s;
        line-height: 24px;
        border-radius: 5px;
        text-transform: uppercase;
        width: fit-content;
        margin-left: auto;

        &:hover {
          color: #ffffff;
          background-color: #222222;
          border-color: #222222;
        }
      }

    }

    ul.about-us__list {

      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;

      li {
        font-size: 30px;
        width: 300px;

        a {
          text-decoration: none;
          &:hover {
            color: $color-cian;
          }
        }

        &.active {
          a {
            font-weight: bold;
            color: $color-cian;
          }
        }
      }
    }
  }

  &.experience-block {
    .font_bold {
      font-weight: 500;
    }

    .trichology-carousel {
      width: 100%;

      .carousel-item {
        display: flex;

        ul {
          flex-direction: column;
          li {

          }
          &.list_circled {
            list-style-type: disc;
          }
        }
      }
    }

    .text-block {
      display: flex;
      flex-direction: column;
      margin-right: auto;
      padding: 30px 15px;
      text-align: left;

      &__heading {
        font-size: 40px;
        line-height: 1.3;
        letter-spacing: 0;
        font-style: normal;
        font-weight: 500;
        margin-bottom: 5px;
      }

      &__sub-heading__large {
        font-weight: 300;
        font-style: normal;
        font-family: 'Roboto', sans-serif;
        color: #222222;
        font-size: 20px;
        margin-bottom: 10px;
      }

      &__delimiter {
        width: 33%;
        height: 4px;
        background: #02aeae;
        margin: 25px 0 40px;
      }

      &__description {
        font-weight: 300;
        font-style: normal;
        font-family: 'Roboto', sans-serif;
        color: #222222;
        font-size: 18px;
        line-height: 1.6;
        letter-spacing: 0px;

        p {
          margin-bottom: 5px;
        }

        &__bold {
          margin-top: 30px;
          font-weight: bold;
        }
      }

    }

    img {
      width: 100%;
      object-fit: contain;
      &.custom-size {
        display: block;
        margin: 0 auto;
        height: 200px;
        width: 100%;
        object-fit: contain;
      }
    }

    .w100pr {
      img {
        width: auto;
      }
    }
  }

  &.statistic-block {
    background: url("../img/stat_bg.jpg") no-repeat;
    padding: 80px 0;
    background-position: center;
    background-size: cover;

    .stat-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &__icon {
        background: #fff;
        width: 120px;
        height: 120px;
        border-radius: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 35px;

        i {
          color: $color-cian;
          font-size: 50px;
        }
      }

      &__workers-quantity {
        color: $color-cian;
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 10px;
      }

      &__title {
        font-size: 24px;
        font-weight: 300;
        text-transform: uppercase;
      }

    }
  }

  &.our-team {
    padding: 80px 0;
    background: url(../img/stat_bg.jpg) no-repeat;
    background-size: cover;

    .heading {
      font-size: 36px;
      text-align: center;
      font-weight: 700;
    }

    .delimiter {
      height: 5px;
      background: $color-cian;
      width: 16%;
      margin: 35px auto 70px;
    }

    .team-list {
      display: flex;

      .team-item {
        width: 20%;
        padding: 0 10px;
        margin-bottom: 20px;

        &__inner {
          background: #d9d9d94d;
          display: flex;
          flex-direction: column;
          text-align: center;
        }
        &__img {
          margin-bottom: 35px;
          object-fit: cover;
          height: 345px;
          width: 100%;

          &:hover {
            filter: none;
            -webkit-filter: grayscale(0%);
          }
        }
        &__name {
          font-weight: normal;
          font-style: normal;
          font-family: 'Roboto', sans-serif;
          color: #222222;
          font-size: 20px;
          line-height: 1.5;
          margin-bottom: 5px;
          padding: 0 10px;

          &:hover {
            color: $color-cian;
          }

          @include laptop {
            font-size: 18px;
          }
        }
        &__position {
          font-weight: 500;
          font-style: normal;
          font-family: 'Roboto', sans-serif;
          color: $color-cian;
          font-size: 14px;
          line-height: 1.4;
          text-transform: uppercase;
          margin-bottom: 15px;
        }
        &__social {
          display: flex;
          justify-content: center;
          margin-bottom: 35px;

          ul {
            max-width: 200px;
            width: 100%;
            display: flex;
            justify-content: space-around;

            li {
              a {
                i {
                  color: #333;
                  text-decoration: none;
                }

                &:hover {
                  i {
                    color: $color-cian;
                  }
                }
              }
            }
          }
        }
        .more-info {
          padding-bottom: 2px;
          border-bottom: 1px solid #222222;
          width: fit-content;
          margin: 0 auto 35px;
          cursor: pointer;

          &:hover {
            border-bottom: 1px solid $color-cian;
            font-weight: bold;
          }
        }

        @include tablet-large {
          width: 30%;
        }
      }

      @include tablet-large {
        flex-wrap: wrap;
        justify-content: center;
      }
    }

    @include tablet-large {
      padding: 40px 0;
    }
  }

  &.our-help {
    background: url("../img/hero_3.jpg") no-repeat;
    background-size: cover;
    background-position: top;
    padding: 80px 0;

    .text-block {
      margin-left: auto;
      display: flex;
      flex-direction: column;
      padding: 80px 15px;
      text-align: left;

      &__heading {
        font-size: 60px;
        line-height: 1.2;
        letter-spacing: 0;
        font-style: normal;
        font-weight: 300;
        margin-bottom: 35px;

        @include tablet-large {
          font-size: 50px;
        }

      }

      &__sub-heading__large {
        font-weight: 300;
        font-style: normal;
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        color: #222222;
        line-height: 1.6;
        letter-spacing: 0px;
        margin-bottom: 35px;
      }

      &__button {
        font-weight: 700;
        font-style: normal;
        color: #ffffff;
        background-color: #02aeae;
        padding: 10px 70px;
        font-size: 14px;
        border: none;
        position: relative;
        text-align: center;
        z-index: 1;
        transition: .3s;
        line-height: 24px;
        border-radius: 5px;
        text-transform: uppercase;

        &:hover {
          color: #ffffff;
          background-color: #222222;
          border-color: #222222;
        }
      }

    }

    @include tablet-large {
      padding: 40px 0;
    }
  }

  &.our-services {
    padding: 80px 0 0;

    .heading {
      font-size: 36px;
      text-align: center;
      font-weight: 700;
    }

    .delimiter {
      height: 5px;
      background: $color-cian;
      width: 16%;
      margin: 35px auto 70px;
    }

    .service-item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 75px;

      &__icon {
        display: block;
        width: 100px;
        height: 100px;
        margin-bottom: 25px;
        display: block;
        border: 2PX solid #02aeae;
        border-radius: 8px;
        padding: 10px;
        box-sizing: border-box;
        &:hover {
          border: 4px solid #02aeae;
        }

        a {

        }

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }

        &:hover {
          webkit-filter: drop-shadow(3px 3px 7px rgba(0, 0, 0, .1));
          filter: drop-shadow(3px 3px 7px rgba(0, 0, 0, .1));
        }
      }

      &__heading {
        font-weight: 700;
        font-size: 23px;
        cursor: pointer;
        margin-bottom: 20px;
        text-align: center;

        span {
          font-size: 20px;
        }

        &:hover,
        &:not(span):hover {
          color: $color-cian;
        }
      }

      &__sub-heading {
        font-weight: 300;
        font-style: normal;
        font-family: 'Roboto', sans-serif;
        color: #222222;
        font-size: 18px;
        line-height: 1.6;
        letter-spacing: 0px;
        text-align: center;
        margin-top: auto;
      }
    }

    @include tablet-large {
      padding: 40px 0;
    }
  }

  &.positive-experience {
    padding: 80px 0;
    background: url("../img/hero_4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .text-block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      text-align: left;

      &__heading {
        font-weight: 700;
        color: #222222;
        font-size: 48px;
        line-height: 1.3;
        letter-spacing: 0px;
      }

      &__delimiter {
        width: 33%;
        height: 5px;
        background: $color-cian;
        margin: 35px 0 70px;
      }

      &__description {
        font-weight: 300;
        font-style: normal;
        font-family: 'Roboto', sans-serif;
        color: #222222;
        font-size: 18px;
        line-height: 1.6;
        letter-spacing: 0px;

        p {
          margin-bottom: 15px;
        }
      }

      &__button {
        font-weight: 700;
        font-style: normal;
        color: #ffffff;
        background-color: #02aeae;
        padding: 6px 21px;
        font-size: 12px;
        border: none;
        position: relative;
        text-align: center;
        z-index: 1;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        line-height: 24px;
        border-radius: 5px;
        text-transform: uppercase;
        margin-right: auto;

        &:hover {
          color: #ffffff;
          background-color: #222222;
          border-color: #222222;
        }
      }

    }

    @include tablet-large {
      padding: 40px 0;
    }

  }

  &.people-say {
    padding: 80px 0;
    background: url("../img/hero_5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .heading {
      font-weight: 700;
      font-style: normal;
      font-family: 'Roboto', sans-serif;
      color: #222222;
      font-size: 48px;
      line-height: 1.3;
      letter-spacing: 0px;
    }

    .delimiter {
      width: 33%;
      height: 5px;
      background: $color-cian;
      margin: 35px 0 70px;
    }

    .carousel-item {

      &__img {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        overflow: hidden;
        margin-bottom: 30px;
        background: $color-cian;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;

        }
      }

      &:nth-child(odd) {
        .carousel-item__img {
          background: #333;
        }
      }

      &__text {
        font-weight: 300;
        font-style: normal;
        font-family: 'Roboto', sans-serif;
        color: #222222;
        font-size: 18px;
        line-height: 1.6;
        letter-spacing: 0px;
        margin-bottom: 25px;
      }

      &__name {
        font-weight: 700;
        font-style: normal;
        font-family: 'Roboto', sans-serif;
        color: #222222;
        font-size: 24px;
        line-height: 1.5;
        letter-spacing: 0px;
        margin-bottom: 20px;
      }

      &__position {
        font-weight: 300;
        font-size: 14px;
        line-height: 1.4;
        letter-spacing: 0px;
        text-transform: uppercase;
        margin-bottom: 20px;
      }
    }

    @include tablet-large {
      padding: 40px 0;
    }
  }

}

//Modal Dialogs - Our Team more info
.modal {
  .modal-dialog {
    max-width: 800px;

    &.short-modal {
      min-width: 600px;
    }

    .modal-content {
      border: 3px solid $color-cian;
      box-shadow: 0 0 15px 5px #ffffff70;
      border-radius: 10px;
    }

    .modal-header {
      border-bottom: 2px solid $color-cian;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      button {
        padding: 5px 10px;
      }

      .heading {
        width: 100%;
        font-weight: bold;
        font-size: 24px;
        text-align: center;
        margin-bottom: 8px;

      }

      .sub-heading {
        font-size: 18px;
        font-style: italic;
        font-weight: 500;

      }

    }

    .modal-body {
      p {
        display: block;
        margin-bottom: 10px;
        line-height: 1.1;

        &.indent {
          text-indent: 25px;
        }
      }
    }

  }

}

//Customize slick dots
ul {
  display: flex;
  justify-content: flex-start;

  &.slick-dots {
    position: relative;
    top: -20px;
    li {
      display: block;
      width: 14px;
      height: 14px;
      margin-right: 10px;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0;
        position: relative;
        border: 0;

        &:before {
          width: 14px;
          height: 14px;
          border-radius: 7px;
          position: absolute;
          content: ' ';
          background: $color-cian;
        }

        &:after {
          position: absolute;
          content: ' ';
          width: 8px;
          height: 8px;
          border-radius: 4px;
          background: #fff;
        }
      }

      &.slick-active {
        button {
          &:after {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {

}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.align-start {
  align-items: flex-start;
}

.mt20px {
  margin-top: 20px !important;
}

.mb20px {
  margin-bottom: 20px;
}

.fw500 {
  font-weight: 500;

}

.w100pr {
  width: 100%;
}

.fs-underline {
  padding-bottom: 2px;
  border-bottom: 1px solid #222222;
  width: fit-content;
}