//Fonts

$baloo-chettan2: 'Baloo Chettan 2', sans-serif;
//Colors
$color-orange: #f15642;
$color-black: #000000;
$color-black-light: #353535;
$color-gray: #6b6b6b;

//Fonts
$font-baloo-chettan: 'Baloo Chettan', sans-serif;
$border-gray: #c7c7c7;

// Media Size
$desktop-large: 1600;
$desktop: 1400;
$laptop: 1200;
$tablet-large:1024;
$tablet: 991;
$mobile: 767;
$small-mobile: 475;
$extra-small: 320;
$landscape: landscape;
